doctype html
html lang="ko"
  head
    script type= "text/javascript" src="https://www.gstatic.com/charts/loader.js"
    script type= "text/javascript" src="./charts.js"
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css")
    link(rel="stylesheet" href="styles.css")
  body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base"
    div class= "mdl-layout mdl-js-layout mdl-layout--fixed-header"
      header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary"
        div class = "mdl-layout--large-screen-only mdl-layout__header-row"
          h4 페르미 프로젝트
        div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark"
          a href="" class="mdl-layout__tab is-active" 소개)
          a href="./price" class="mdl-layout__tab" 가격정보)
          a href="./regulation" class="mdl-layout__tab" 규제정보)
          a href="./power_plant" class="mdl-layout__tab" 발전소현황
          a href="./blog" class="mdl-layout__tab">블로그
