html
  head
  body
    script(src='https://apis.google.com/js/auth.js?onload=init')
    script(src='./demo.js', type='text/javascript')
    button#authorize-button(style='visibility: hidden') Authorize
    div(id='priceChart_div')
