extends layout.pug

block main_div
  main.mdl-layout__content.mdl-color--grey-100
    .mdl-grid.demo-content
      .demo-charts.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid
        text
          h4 계통한계가격
          p <b>관련근거</b>: <a href="https://www.kpx.or.kr/www/selectBbsNttView.do?key=29&bbsNo=114&nttNo=16102">전력시장운영규칙</a>
          p <b>설명</b>: 전력도매시장에서 거래시간별로 적용되는 전력량에 대한 시장가격(원/kWh)을 의미하고, 육지 및 제주지역으로 구분 됩니다. 전력거래소는 전력수요를 예측해서 각 발전소마다 얼만큼 생산할지 계획하고 지시합니다. 이를 급전(Dispatch)이라고 합니다. </br></br>급전지시는 가장 가격이 싼 기준으로 순차적으로 지시됩니다.아래의 그림을 보면 새벽 4시에는 수요가 적어서 최고가격이 kwh당 40원인 발전소만 가동합니다. </br></br>15시에는 전력수요가 많아서 최고가격이 kwh당 150원인 발전소까지 가동해야 합니다. 계통한계가격은 급전지시때 발전되는 발전기의 가장 비싼가격으로 결정됩니다. 4시에는 60원, 15시에는 160원으로 결정됩니다.</br></br>
            img(src= './images/smp_pricing.png')
      .demo-charts.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid
        text
          h4 월간 가중평균 계통한계가격
          p 재생에너지 발전소의 전력판매대금은 계통한계가격을 기준으로 정산 받습니다. 다만, 규모에 따라 정산되는 방식이 조금 다릅니다.</br></br>1Mw 이상 대형 발전소는 전력거래소에 회원가입을 해서 생산된 전력에 대해서 시간당 계통한계가격으로 정산 받습니다. </br></br> 1Mw이하의 소규모 발전소의 경우 전력거래소 회원가입이 불가능한 것은 아니지만, 대부분 한국전력과 직접 전력구매계약(Power Purchase Agreement)를 맺습니다. 이 경우 생산된 전력을 거래소를 거치지 않고, 한국전력으로 직접판매됩니다. 이때 기준 가격은 월간 가중평균 계통한계가격으로 계산됩니다. 시간마다 가격이 변동되는 것이 아니라, 생산된 전력의 총액을 월간 가중평균 계통한계가격으로 곱해서 매월 대금을 정산 받습니다. 신문기사나 재생에너지 업계에서 흔히 말하는 SMP가격은 월간 가중평균 SMP가격인 경우가 많습니다.
          table
            tr
              td
                button(onclick="smp_main_1yrs();") 최근 1년
              td
                button(onclick="smp_main_3yrs();") 최근 3년
              td
                button(onclick="smp_main_all();") 전체
        #smp_main_dashboard.dashboard
          #smp_main_chart.chart
          #smp_main_filter.filter
